.profile-img img {
    /* width: 130px !important;
    height: 130px !important; */
    width: 190px !important;
}

.main img {
    background-position: center;
    background-repeat: cover;
}


.container img{
    width: 320px !important;
    height: 400px !important;
}